body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
 
    /*  TODO */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    align-items: center;
    gap:15px;
}
.nav-right {
    /*  TODO */
    display: flex;
    align-items: center;
    gap: 5em;
}

.nav-center {
    /*  TODO */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.8;
    
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 30px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
    background-color: #f5ecec;
    margin-left: 55px;
    box-shadow: #fff7f7 4px 4px 4px 4px;

.video {

   /*  TODO */
   display: flex;
   flex-direction:column;
   align-items: center;
   width: 300px;
   box-shadow: rgb(233, 238, 238) 0px 4px 15px 4px;
   

 
}
.video-thumbnail img {
   /*  TODO */
   width: 100%;
   border-radius: 10px;
   
}
.video-text {
  /*  TODO */
  padding: 1em;
  padding-left: 0px;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}